In [97]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.columns = purchase_data.columns.str.replace(' ', '_')
purchase_data.head()

,Purchase_ID,SN,Age,Gender,Item_ID,Item_Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [98]:
total_players = len(purchase_data.SN.unique())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [99]:
unique_items_count = len(purchase_data.Item_Name.unique())
average_price = purchase_data.Price.sum()/purchase_data.Price.count()
purchases_count = purchase_data.Purchase_ID.count()
total_revenue = purchase_data.Price.sum()
analysis_df = pd.DataFrame({"unique_items":[unique_items_count],
                            "avg_price":[average_price],
                            "total_purchases":[purchases_count],
                            "total_revenue":[total_revenue]})
analysis_df.head()

   unique_items  avg_price  total_purchases  total_revenue
0           179   3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [100]:
#get a dataframe with one entry per name
gender_df = purchase_data.drop_duplicates(subset = "SN")
gender_count = gender_df.groupby("Gender").size()
male_count = gender_count['Male']
male_percent = 100*(male_count/total_players)
female_count = gender_count['Female']
female_percent = 100*(female_count/total_players)
other_count = gender_count['Other / Non-Disclosed']
other_percent = 100*(other_count/total_players)

#DISPLAY THIS DATA
gender_out = pd.DataFrame({"Male Count": [male_count],
                          "Male Percent": [male_percent],
                          "Female Count": [female_count],
                          "Female Percent": [female_percent],
                          "Other Count": [other_count],
                          "Other Percent": [other_percent]})
gender_out.head()
#I get better at this once I got a hold of the groupby function. I didn't have enough time to go back and fix these earlier sections

,Male Count,Male Percent,Female Count,Female Percent,Other Count,Other Percent
0,484,84.027778,81,14.0625,11,1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [101]:
#total amount of money spent by each gender
total_spent_male = purchase_data.loc[purchase_data["Gender"] == "Male", ["Price"]].sum()
total_spent_female = purchase_data.loc[purchase_data["Gender"] == "Female", ["Price"]].sum()
total_spent_other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", ["Price"]].sum()

#total amount of items purchased by each gender
total_items_male = purchase_data.loc[purchase_data["Gender"] == "Male", ["Item_ID"]].count()
total_items_female = purchase_data.loc[purchase_data["Gender"] == "Female", ["Item_ID"]].count()
total_items_other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", ["Item_ID"]].count()

#average purchase price by gender
avg_price_male =  total_spent_male/total_items_male
avg_price_female = total_spent_female/total_items_female
avg_price_other = total_spent_other/total_items_other

#average purchase total per person, by gender
avg_spent_male = total_spent_male / male_count
avg_spent_female = total_spent_female / female_count
avg_spent_other = total_spent_other / other_count

#I totally didn't do this in the best way, but i think i did in the later cells

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [104]:
bins = [0, 12, 19, 29, 39, 49, 59, 150]
labels = ['kids', 'teens', '20s', '30s', '40s', '50s', '60+']
purchase_data["age_range"] = pd.cut(purchase_data["Age"], bins, labels = labels, include_lowest = True)
copy = purchase_data.drop_duplicates(subset = "SN")

#list of number of unique names in each age group
age_groups = copy.groupby("age_range").count()
age_groups_counts = age_groups["SN"]

#list of total spent by age group
age_groups2 = purchase_data.groupby("age_range").sum()
age_groups_spent = age_groups2["Price"]

#number of purchases per age group
ag = purchase_data.groupby("age_range").count()
ag_purchase_count = ag["Item_ID"]

#average purchase price per age group
ag_avg_price = age_groups_spent / ag_purchase_count

#average purchase total per person
ag_avg_total = age_groups_spent / age_groups_counts

#DISPLAY ALL OF THIS
age_df = pd.DataFrame({"Count": age_groups_counts,
                      "Total Spent": age_groups_spent,
                      "Number of Purchases": ag_purchase_count,
                      "Average Purchase Price": ag_avg_price,
                      "Average Purchase Total": ag_avg_total})
age_df

,Count,Total Spent,Number of Purchases,Average Purchase Price,Average Purchase Total
age_range,,,,,
kids,34,143.55,45,3.190000,4.222059
teens,112,429.25,142,3.022887,3.832589
20s,335,1407.06,466,3.019442,4.200179
30s,83,361.67,114,3.172544,4.357470
40s,12,38.24,13,2.941538,3.186667
50s,0,0.00,0,NaN,NaN
60+,0,0.00,0,NaN,NaN

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [105]:
spenders = purchase_data.groupby("SN")
ts_purchase_count = spenders["Purchase_ID"].count()
ts_total_spent = spenders["Price"].sum()
ts_avg_price = ts_total_spent / ts_purchase_count
ballers = pd.DataFrame({"Purchase Count" : ts_purchase_count,
                           "Total Spent" : ts_total_spent,
                           "Average Purchase Price" : ts_avg_price})
big_ballers = ballers.sort_values(by = "Total Spent", ascending = False)
top_spenders = big_ballers[0:5]
top_spenders

             Purchase Count  Total Spent  Average Purchase Price
SN
Lisosia93                 5        18.96                3.792000
Idastidru52               4        15.45                3.862500
Chamjask73                3        13.83                4.610000
Iral74                    4        13.62                3.405000
Iskadarya95               3        13.10                4.366667

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [106]:
items = purchase_data.groupby(["Item_Name", "Item_ID"])
item_count = items["Purchase_ID"].count()
item_total_value = items["Price"].sum()
items_prices = item_total_value/item_count
all_items = pd.DataFrame({"Price": items_prices,
                         "Purchase Count" : item_count,
                         "Total Purchase Value" : item_total_value})
sorted_items_count = all_items.sort_values(by = "Purchase Count", ascending = False)
top_items_count = sorted_items_count[0:5]
top_items_count

,,Price,Purchase Count,Total Purchase Value
Item_Name,Item_ID,,,
Final Critic,92,4.614615,13,59.99
"Oathbreaker, Last Hope of the Breaking Storm",178,4.230000,12,50.76
Persuasion,132,3.221111,9,28.99
Nirvana,82,4.900000,9,44.10
"Extraction, Quickblade Of Trembling Hands",108,3.530000,9,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
sorted_items_value = all_items.sort_values(by = "Total Purchase Value", ascending = False)
top_items_value = sorted_items_value[0:5]
top_items_value