### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [62]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.columns = purchase_data.columns.str.replace(' ', '_')
purchase_data.head()

,Purchase_ID,SN,Age,Gender,Item_ID,Item_Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [63]:
total_players = len(purchase_data.SN.unique())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [64]:
unique_items_count = len(purchase_data.Item_Name.unique())
average_price = purchase_data.Price.sum()/purchase_data.Price.count()
purchases_count = purchase_data.Purchase_ID.count()
total_revenue = purchase_data.Price.sum()
analysis_df = pd.DataFrame({"unique_items":[unique_items_count],
                            "avg_price":[average_price],
                            "total_purchases":[purchases_count],
                            "total_revenue":[total_revenue]})
analysis_df.head()

   unique_items  avg_price  total_purchases  total_revenue
0           179   3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [65]:
#get a dataframe with one entry per name
gender_df = purchase_data.drop_duplicates(subset = "SN")
gender_count = gender_df.groupby("Gender").size()
male_count = gender_count['Male']
male_percent = 100*(male_count/total_players)
female_count = gender_count['Female']
female_percent = 100*(female_count/total_players)
other_count = gender_count['Other / Non-Disclosed']
other_percent = 100*(other_count/total_players)

#DISPLAY THIS DATA


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [69]:
#total amount of money spent by each gender
total_spent_male = purchase_data.loc[purchase_data["Gender"] == "Male", ["Price"]].sum()
total_spent_female = purchase_data.loc[purchase_data["Gender"] == "Female", ["Price"]].sum()
total_spent_other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", ["Price"]].sum()

#total amount of items purchased by each gender
total_items_male = purchase_data.loc[purchase_data["Gender"] == "Male", ["Item_ID"]].count()
total_items_female = purchase_data.loc[purchase_data["Gender"] == "Female", ["Item_ID"]].count()
total_items_other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", ["Item_ID"]].count()

#average purchase price by gender
avg_price_male =  total_spent_male/total_items_male
avg_price_female = total_spent_female/total_items_female
avg_price_other = total_spent_other/total_items_other

#average purchase total per person, by gender
avg_spent_male = total_spent_male / male_count
avg_spent_female = total_spent_female / female_count
avg_spent_other = total_spent_other / other_count

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame